/*Roboto Fonts*/
@font-face { font-family: 'robotobold'; src: url('../fonts/Roboto-Bold-webfont.eot'); src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'robotoregular'; src: url('../fonts/Roboto-Regular-webfont.eot'); src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'robotomedium'; src: url('../fonts/Roboto-Medium-webfont.eot'); src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium-webfont.woff') format('woff'), url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'), url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'robotoblack'; src: url('../fonts/roboto-black-webfont.eot'); src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-black-webfont.woff2') format('woff2'), url('../fonts/roboto-black-webfont.woff') format('woff'), url('../fonts/roboto-black-webfont.ttf') format('truetype'), url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg'); font-weight: normal; font-style: normal; }

/*KARLA FONTS*/
@font-face { font-family: 'karlabold'; src: url('../fonts/karla-bold-webfont.eot'); src: url('../fonts/karla-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla-bold-webfont.woff2') format('woff2'), url('../fonts/karla-bold-webfont.woff') format('woff'), url('../fonts/karla-bold-webfont.ttf') format('truetype'), url('../fonts/karla-bold-webfont.svg#karlabold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'karlabolditalic'; src: url('../fonts/karla-bolditalic-webfont.eot'); src: url('../fonts/karla-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla-bolditalic-webfont.woff2') format('woff2'), url('../fonts/karla-bolditalic-webfont.woff') format('woff'), url('../fonts/karla-bolditalic-webfont.ttf') format('truetype'), url('../fonts/karla-bolditalic-webfont.svg#karlabolditalic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'karlaitalic'; src: url('../fonts/karla-italic-webfont.eot'); src: url('../fonts/karla-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla-italic-webfont.woff2') format('woff2'), url('../fonts/karla-italic-webfont.woff') format('woff'), url('../fonts/karla-italic-webfont.ttf') format('truetype'), url('../fonts/karla-italic-webfont.svg#karlaitalic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'karlaregular'; src: url('../fonts/karla-regular-webfont.eot'); src: url('../fonts/karla-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla-regular-webfont.woff2') format('woff2'), url('../fonts/karla-regular-webfont.woff') format('woff'), url('../fonts/karla-regular-webfont.ttf') format('truetype'), url('../fonts/karla-regular-webfont.svg#karlaregular') format('svg'); font-weight: normal; font-style: normal; }
body { font-family: 'Roboto', sans-serif; }
#loading { width: 100%; height: 100%; top: 0; left: 0; position: fixed; display: block; opacity: 1; background-color: #fff; z-index: 99; text-align: center; }
#loading-image { position: absolute; top: 45%; left: 45%; z-index: 100; }
.col-condensed { padding-left: 0px; padding-right: 0px; }
a { color: #fff; text-decoration: none; }
a:hover, a:focus, a:active { text-decoration: none; color: #fff; outline: none; }
.form-control:focus { outline: none; box-shadow: none; color: #fff; }

/*Left Bar Section Css*/
.left_bar { height: 100vh; background-color: #082F56; position: fixed; left: 0px; }
.left_bar a.logo_text { color: #fff; text-align: center; font-weight: 500; display: table; position: relative; margin: 0 auto; padding: 10px 0px; letter-spacing: 1px; font-size: 18px; }
.left_bar a.logo_text img { display: table; margin: 10px auto; }
.left_bar a.logo_text i { position: absolute; top: 0px; right: -55px; }
.left_bar ul li { padding: 5% 0px; }
.left_bar ul li a { color: #fff; letter-spacing: 1px; text-transform: uppercase; text-align: center; font-weight: 300; margin: 0 auto; }
.left_bar .cs-skin-border > span { border: 1px solid #fff !important; color: #fff; padding: 10px 20px; border-radius: 20px; }
.left_bar    .cs-skin-border.cs-active > span { color: #2980b9 !important; }
.left_bar .cs-skin-border.cs-active .cs-options { background-color: #1a2a3a; border: 1px solid #3BC3FF !important; color: #3BC3FF; }
.left_bar .cs-skin-border ul span { padding: 5px 10px; color: #3BC3FF; }

/*End Left Bar Section Css*/

/*Right Section CSS*/

.right_section { padding: 0px; height: 100%; position: fixed; right: 0px; overflow: auto; background-image: url('../img/bg1.png'); background-size: cover; }
.right_section_inner { height: 100vh; overflow: auto;    /* background: rgba(36, 108, 224, 1);
                                        background: -moz-linear-gradient(top, rgba(36, 108, 224, 1) 0%, rgba(36, 108, 224, 0.97) 21%, rgba(8, 46, 84, 0.95) 31%, rgba(8, 46, 84, 0.85) 100%);
                                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36, 108, 224, 1)), color-stop(21%, rgba(36, 108, 224, 0.97)), color-stop(31%, rgba(8, 46, 84, 0.95)), color-stop(100%, rgba(8, 46, 84, 0.85)));
                                        background: -webkit-linear-gradient(top, rgba(36, 108, 224, 1) 0%, rgba(36, 108, 224, 0.97) 21%, rgba(8, 46, 84, 0.95) 31%, rgba(8, 46, 84, 0.85) 100%);
                                        background: -o-linear-gradient(top, rgba(36, 108, 224, 1) 0%, rgba(36, 108, 224, 0.97) 21%, rgba(8, 46, 84, 0.95) 31%, rgba(8, 46, 84, 0.85) 100%);
                                        background: -ms-linear-gradient(top, rgba(36, 108, 224, 1) 0%, rgba(36, 108, 224, 0.97) 21%, rgba(8, 46, 84, 0.95) 31%, rgba(8, 46, 84, 0.85) 100%);
                                        background: linear-gradient(to bottom, rgba(36, 108, 224, 1) 0%, rgba(36, 108, 224, 0.97) 21%, rgba(8, 46, 84, 0.95) 31%, rgba(8, 46, 84, 0.85) 100%);
                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#246ce0', endColorstr='#082e54', GradientType=0);*/ }
  #play { position: absolute; top: 38%; left: 0px; right: 9%; width: 50%; visibility: visible; margin: 0 auto; cursor: pointer; }
  #video-placeholder { width: 99.9%; height: 100%; }
  #play:after { position: absolute; content: '\f487'; font-family: 'ionicons'; font-size: 40px; color: #e5e5e5; left: 42%; top: 34%; background: rgba(24, 72, 132, 0.97); text-align: center; width: 50px; border-radius: 50%; height: 50px; line-height: 50px; z-index: 9; text-indent: 5px; }
  #pause { position: absolute; top: 38%; left: 0px; right: 9%; width: 50%; margin: 0 auto; visibility: hidden; cursor: pointer; }
  .all_play:hover #pause { visibility: visible; }
  .all_play:hover #play { visibility: visible; }
  .all_play { position: absolute;    /* float: left; */ top: 0px; left: 0px; right: 0px; bottom: 0px; }
  #pause:after { position: absolute; content: '\f477'; font-family: 'ionicons'; font-size: 40px; color: #e5e5e5; left: 42%; top: 34%; background: rgba(24, 72, 132, 0.5); text-align: center; width: 50px; border-radius: 50%; height: 50px; line-height: 50px; z-index: 9; text-indent: 0px; }
  .right_section p { color: #fff; font-weight: 400; letter-spacing: 1px; position: relative; margin: 10px 0px; padding: 10px; }
  .right_section p span { position: absolute; right: 0%; bottom: 0px; padding: 1px 10px; border: 1px solid #fff; border-radius: 20px; line-height: 20px; height: 25px; font-size: 14px; text-transform: uppercase; padding: 0px 10px; cursor: pointer; }
  .right_section p span i { position: relative; top: 2px; font-size: 20px; }
  .right_section .search_filter { background-color: #558ae3; height: 50px; margin: 15px 0px; display: table; }
  .right_section .search_filter .form-group { margin-bottom: 0px; }

  /*
          .right_section .search_filter input { box-shadow: none; background-color: transparent; font-family: 'robotoregular'; text-shadow: none; border: none; outline: none; height: 50px; font-size: 24px; padding-left: 50px; color: #fff; margin: 0px; background-image: url(../img/search_icon.png); background-repeat: no-repeat; background-position: 40px 17px; text-indent: 12px; font-weight: 300; }
          .right_section .search_filter input::-webkit-input-placeholder { color: #fff; font-weight: 300; font-size: 24px; letter-spacing: 1px; text-indent: 24px; }
          .right_section .search_filter input:-moz-placeholder { color: #fff; font-weight: 300; font-size: 24px; letter-spacing: 1px; text-indent: 24px; }
          .right_section .search_filter input::-moz-placeholder {  color: #fff; font-weight: 300; font-size: 24px; letter-spacing: 1px; text-indent: 24px; }
          .right_section .search_filter input:-ms-input-placeholder { color: #fff; font-weight: 300; font-size: 24px; letter-spacing: 1px; text-indent: 12px; }
          .right_section .search_filter input:focus::-webkit-input-placeholder { color: transparent; }
          .right_section .search_filter input:focus:-moz-placeholder { color: transparent; }
          .right_section .search_filter input:focus::-moz-placeholder { color: transparent; }
          .right_section .search_filter input:focus:-ms-input-placeholder { color: transparent; }*/
  .post_title, .post_text, .read_button, .date_likes { float: left; width: 100%; }
  .date_likes:after { position: absolute; content: ''; width: 100%; height: 1px; background-color: #fff; left: 0px; right: 0px; }
  .date_likes i { padding: 10px; }
  .grid-item { padding: 10px; }
  .date_likes p { margin: 0px !important; }
  .individual_post { position: relative; float: left; width: 100%;    /* background: #325e9a; */ background: rgba(71, 122, 194, 1); background: -moz-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71, 122, 194, 1)), color-stop(100%, rgba(71, 122, 194, 0.5))); background: -webkit-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: -o-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: -ms-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: linear-gradient(to bottom, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#477ac2', endColorstr='#477ac2', GradientType=0); }
  .post_name p { padding: 0px 15px 0px 60px; text-align: left; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-transform: uppercase; }
  .post_name { position: relative; font-family: 'robotoblack'; font-size: 11px; margin-bottom: 0px; }
  .post_img { height: 200px; background-repeat: no-repeat; background-size: cover; width: 100%; background-position: center center; position: relative; }
  .profile_img { position: absolute; bottom: -25px; left: 3%; }
  #loading1 { text-align: center; margin: 0 auto; background: #fff; border-radius: 50%; width: 30px; height: 30px; }
  #loading1 a { position: absolute; top: 5px; left: 5px; }
  .profile_img img { width: 45px; height: 45px; border-radius: 50%; }
  .post_box { padding: 0px 15px 0px; color: #fff;    /* color: black; */ display: table; }
  .post_box .post_title a:hover { color: #fff; }
  .post_box .post_title h4 { font-size: 14px; letter-spacing: 0.5px; font-weight: 500; font-family: 'robotomedium'; }
  .post_box .post_text h5 { font-size: 12px; font-weight: 400; letter-spacing: 0.5px; font-family: 'robotoregular'; line-height: 18px; text-align: justify; }
  .read_button .btn { background: transparent; color: #fff; border-color: #fff; border-radius: 20px; font-weight: 100; letter-spacing: 1px; font-size: 14px; font-family: 'robotoregular'; text-shadow: none; margin-bottom: 15px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; }
  .read_button .btn:hover { background-color: #fff; color: #082f56; }
  .img_count { position: absolute; right: 0px; bottom: 0px; background: rgba(0, 0, 0, 0.45); padding: 1px 4px; color: #fff; }
  .posted_details { border-bottom: 1px solid #ccc; padding-bottom: 20px; }

  /*END Right Section*/

  /*Youtube Api Controls Styles*/

  input[type=range] { -webkit-appearance: none; margin: 10px 0; width: 100%; }
  input[type=range]:focus { outline: none; }
  input[type=range]::-webkit-slider-runnable-track { width: 100%; height: 5px; cursor: pointer; animate: 0.2s; box-shadow: 0px 0px 0px #2497E3; background: #2497E3; border-radius: 1px; border: 0px solid #2497E3; }
  input[type=range]::-webkit-slider-thumb { box-shadow: 0px 0px 0px #FFFFFF; border: 1px solid #CCCCCC; height: 18px; width: 18px; border-radius: 25px; background: #FFFFFF; cursor: pointer; -webkit-appearance: none; margin-top: -7px; }
  input[type=range]:focus::-webkit-slider-runnable-track { background: #2497E3; }
  input[type=range]::-moz-range-track { width: 100%; height: 5px; cursor: pointer; animate: 0.2s; box-shadow: 0px 0px 0px #2497E3; background: #2497E3; border-radius: 1px; border: 0px solid #2497E3; }
  input[type=range]::-moz-range-thumb { box-shadow: 0px 0px 0px #FFFFFF; border: 1px solid #CCCCCC; height: 18px; width: 18px; border-radius: 25px; background: #FFFFFF; cursor: pointer; }
  input[type=range]::-ms-track { width: 100%; height: 5px; cursor: pointer; animate: 0.2s; background: transparent; border-color: transparent; color: transparent; }
  input[type=range]::-ms-fill-lower { background: #2497E3; border: 0px solid #2497E3; border-radius: 2px; box-shadow: 0px 0px 0px #2497E3; }
  input[type=range]::-ms-fill-upper { background: #2497E3; border: 0px solid #2497E3; border-radius: 2px; box-shadow: 0px 0px 0px #2497E3; }
  input[type=range]::-ms-thumb { box-shadow: 0px 0px 0px #FFFFFF; border: 1px solid #CCCCCC; height: 18px; width: 18px; border-radius: 25px; background: #FFFFFF; cursor: pointer; }
  input[type=range]:focus::-ms-fill-lower { background: #2497E3; }
  input[type=range]:focus::-ms-fill-upper { background: #2497E3; }
  #volume-input { margin: 0px; position: absolute; width: 20%; right: -15px; height: 20px; bottom: -55px; height: 100%;    /* top: 0px; */ -ms-transform: rotate(7deg); -webkit-transform: rotate(7deg); transform: rotate(-90deg); background: transparent; display: none; }

  /*End Youtube Api Controls*/

  /*Mobile Search and Filters*/

  .box { position: absolute; top: 0px;    /* width: 220px; */ left: 0px; }
  .ui.selection.dropdown { color: #fff; font-weight: 300; letter-spacing: 1px; font-family: 'robotoregular'; font-size: 16px; }
  .search_filter .ui.multiple.search.dropdown { background-color: transparent; border: none; min-height: 50px; }
  .search_filter .ui.multiple.dropdown>.text { letter-spacing: 1px; font-family: 'robotoregular'; padding: 0px 0px 0px 7%; text-shadow: none; line-height: 29px; color: #fff; font-size: 20px; background-image: url(../img/search_icon.png); background-repeat: no-repeat; background-position: 10px; }
  .filter_cat_mob { display: none; }
  .mob_filter .mob_sort ul li label { color: #8c8c8c; font-weight: 300; letter-spacing: 1px; font-family: 'robotoregular'; }
  .mob_filter .filter_cat_mob hr { border-color: #ccc; }
  .mob_filter { display: table; background-color: #558ae3; }
  .mob_filter a h4 { letter-spacing: 2px; }
  .mob_filter a.filter_tags { text-align: center; width: 75px; height: 30px; line-height: 28px; position: relative; border-radius: 20px; display: table-cell; margin: 10px 0px; border: 1px solid #fff; vertical-align: middle; font-family: 'robotoregular'; letter-spacing: 1px; }
  .mob_filter_white { background-color: #fff; }
  .mob_filter_white a h4 { color: #0090ff; }
  .mob_filter_white a.filter_tags { color: #0090ff; border-color: #0090ff; }
  .mob_filter .mob_category ul li a { padding: 5px 25px 5px 5px; background-color: transparent; color: #8c8c8c; position: relative; margin: 5px 0px; display: table; border: 1px solid #8c8c8c; border-radius: 4px; text-shadow: none; background: transparent; }
  .mob_filter .mob_category ul li a.active { border-color: #0090ff; color: #0090ff; }
  .mob_filter .filter_cat_mob h4 { font-family: 'robotoregular'; color: #1a2a3a; }
  .mob_filter .mob_category ul li a span { position: absolute; right: 5px; top: 3px; visibility: hidden; }
  .mob_filter .mob_category ul li a span.active { visibility: visible; }
  .mob_filter .mob_category ul { height: 100%; max-height: 300px; overflow: auto; }
  .mob_filter .mob_category ul li a span i { font-size: 22px; line-height: 0px; }
  .mob_filter input[type="radio"] { display: none; }
  .mob_filter input[type="radio"] + label { font-family: 'Open Sans', sans-serif; color: #38393A; font-size: 14px; }
  .mob_filter input[type="radio"] + label span { display: inline-block; width: 20px; height: 20px; margin: -1px 4px 0 0; vertical-align: middle; cursor: pointer; -moz-border-radius: 50%; border-radius: 50%; }
  .mob_filter input[type="radio"] + label span { background-color: #fff; border: 1px solid rgb(47, 94, 214); }
  .mob_filter input[type="radio"]:checked + label span { background-color: #3bc3ff; border: 1px solid rgb(47, 94, 214); }
  .mob_filter input[type="radio"] + label span, .sms-edit-profile .notification input[type="radio"]:checked + label span { -webkit-transition: background-color 0.4s linear; -o-transition: background-color 0.4s linear; -moz-transition: background-color 0.4s linear; transition: background-color 0.4s linear; }
  .mob_apply_filter a { text-align: center; width: 100px; height: 30px; line-height: 28px; position: relative; border-radius: 20px; display: table-cell; margin: 0px 0px 10px; border: 1px solid #8c8c8c; vertical-align: middle; font-family: 'robotoregular'; color: #8c8c8c; letter-spacing: 1px; }
  .mob_apply_filter a:hover, .mob_apply_filter a:focus { border-color: #0090ff; color: #0090ff; }
  .search_filter .ui.selection.dropdown .menu>.item { font-weight: 300; letter-spacing: 1px; font-family: 'robotoregular'; font-size: 16px; color: #686868; }
  .search_filter .ui.search.dropdown .menu { max-height: 400px; }
  .search_filter .ui.multiple.dropdown>.label { background-color: #fff; color: #767676; font-weight: 200; padding: 5px 20px 5px 5px; }
  .search_filter .ui.fluid.dropdown>.dropdown.icon { display: none; }
  .delete.icon { position: relative; }
  i.icon.cancel:before, i.icon.close:before, i.icon.delete:before, i.icon.x:before { content: "\f404"; font-family: 'ionicons'; font-size: 20px; line-height: 10px; position: absolute; right: -12px; font-weight: 800; top: 8px; }
  .mob_header .search.expanded { max-width: 700px; opacity: 1; background: #1a2a3a; color: #fff; left: 0px; top: 0px; width: 82%; }
  .change_i { z-index: 999; position: absolute; top: 25px; }
  input.search::-webkit-input-placeholder { color: #fff; font-weight: 300; font-size: 24px; letter-spacing: 1px; text-indent: 24px; }
  input.search:-moz-placeholder { color: #fff; font-weight: 300; font-size: 24px; letter-spacing: 1px; text-indent: 24px; }
  input.search::-moz-placeholder { color: #fff; font-weight: 300; font-size: 24px; letter-spacing: 1px; text-indent: 24px; }
  input.search:-ms-input-placeholder { color: #fff; font-weight: 300; font-size: 24px; letter-spacing: 1px; text-indent: 12px; }
  input.search:focus { outline: none; }

  /*End Mobile Search and Filters*/

  /*Color Box Popup CSS*/

  #colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0; left: 0; z-index: 9999; overflow: hidden; -webkit-transform: translate3d(0, 0, 0); }
  #cboxWrapper { max-width: none; }
  #cboxOverlay { position: fixed; width: 100%; height: 100%; }
  #cboxMiddleLeft, #cboxBottomLeft { clear: left; }
  #cboxContent { position: relative; }
  #cboxLoadedContent { overflow: auto; -webkit-overflow-scrolling: touch; }
  #cboxTitle { margin: 0; }
  #cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  #cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }
  .cboxPhoto { float: left; margin: auto; border: 0; display: block; max-width: none; -ms-interpolation-mode: bicubic; }
  .cboxIframe { width: 100%; height: 100%; display: block; border: 0; padding: 0; margin: 0; }
  #colorbox, #cboxContent, #cboxLoadedContent { box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; }
  #cboxOverlay { background: #000; opacity: 0.9; filter: alpha(opacity=90); }
  #colorbox { outline: 0; }
  #cboxContent { margin-top: 20px; background: #000; }
  .cboxIframe { background: #fff; }
  #cboxError { padding: 50px; border: 1px solid #ccc; }
  #cboxLoadedContent { border: 5px solid #000; background: #fff; }
  #cboxTitle { position: absolute; top: -20px; left: 0; color: #ccc; }
  #cboxCurrent { position: absolute; top: -20px; right: 0px; color: #ccc; }
  #cboxLoadingGraphic { background: url(images/loading.gif) no-repeat center center; }
  #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose { border: 0; padding: 0; margin: 0; overflow: visible; width: auto; background: none; }
  #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active { outline: 0; }
  #cboxSlideshow { position: absolute; top: -20px; right: 90px; color: #fff; }
  #cboxPrevious { position: absolute; top: 50%; left: 5px; margin-top: -32px; background: url('../img/left.png') no-repeat top left; width: 28px; height: 65px; text-indent: -9999px; outline: none; background-size: 100% 65%; }
  #cboxNext { position: absolute; top: 50%; right: 5px; margin-top: -32px; background: url('../img/right.png') no-repeat top right; width: 28px; height: 65px; text-indent: -9999px; outline: none; background-size: 100% 65%; }
  #cboxClose { position: absolute; top: 5px; right: 5px; display: block; background: url(images/controls.png) no-repeat top center; width: 38px; height: 19px; text-indent: -9999px; }
  #cboxClose:hover { background-position: bottom center; }

  /*End Color Box Popup CSS*/

  /*Begin Individual Post*/

  .single_post { background-image: url('../img/bg2.png'); }
  .single_post .post_view { padding: 20px 15% 20px 14%; }
  .single_post .post_view h1 { font-family: 'robotobold'; color: #686868; letter-spacing: 1px; padding-bottom: 15px; border-bottom: 1px solid #ccc; }
  .single_post .back_root { background-color: #558ae3; padding: 10px 20px 10px 5%; }
  .single_post .back_root .search_filter { margin: 0px; position: relative; }
  .single_post .back_root h3 { margin-top: 10px; }
  .single_post .back_root a { font-family: 'robotobold'; font-family: 'karlabold'; font-size: 24px; text-transform: uppercase; letter-spacing: 2px; }
  .single_post .posted_details li { padding-left: 8px; }
  .single_post .posted_details li:nth-child(1) p { padding: 0px; color: #0090ff; font-family: 'robotobold'; font-size: 16px; text-transform: uppercase; margin-top: 10px; }
  .single_post .posted_details li:nth-child(1) p b { color: #686868; text-transform: capitalize; }
  .single_post .posted_details li:nth-child(2) p { font-family: 'robotoregular' !important; color: #8c8c8c !important; margin: 5px 0px 0px; padding: 0px; }
  .single_post .posted_details li:nth-child(3) a { color: #0090ff; display: inline-block; font-family: 'robotoregular'; font-style: italic; text-decoration: underline; font-size: 16px; padding: 5px 5px 5px 0px; }
  .single_post .back_root .search_filter:after { position: absolute; content: ''; width: 1px; background-color: #88adeb; top: -10px; bottom: -10px; }
  .single_post .single_post_img { height: 500px; background-size: contain; background-position: center center; background-repeat: no-repeat; }
  .single_post .single_post_text p { padding: 0px; margin: 0px; color: #686868; font-family: 'robotoregular'; }
  .single_post .slick-slide img { width: 100%; height: 200px; padding: 10px; text-align: justify; }
  .single_post .slick-prev { background-color: transparent; position: absolute; right: -40px; z-index: 99; border-radius: 50%; width: 30px; height: 30px; outline: none; border: none; color: transparent; top: 40%; }
  .single_post .slick-prev:after { font-size: 30px; position: absolute; content: ''; content: '\f3d3'; font-family: 'ionicons'; top: 14%; color: #42abfb; left: 35%; }
  .single_post .slick-next { background-color: transparent; position: absolute; left: -50px; z-index: 99; outline: none; border-radius: 50%; width: 30px; height: 30px; border: none; color: transparent; top: 40%; }
  .single_post .slick-next:after { font-size: 30px; position: absolute; content: ''; content: '\f3d2'; font-family: 'ionicons'; top: 14%; color: #42abfb; left: 4 5%; }
  .single_post .single_post_gallery h4 { font-family: 'robotobold'; color: #42abfb; letter-spacing: 1px; text-transform: uppercase; padding: 10px 0px; }
  .single_post .single_post_gallery span { line-height: 70px; color: #bbbbbb; font-size: 18px; letter-spacing: 1px; }
  .single_post .slick-initialized .slick-slide:focus { outline: none; }
  .single_post .single_post_gallery { padding: 5% 0px 0%; }
  .single_post .prev_next_post { margin: 20px 0px; padding-bottom: 30px; border-bottom: 2px solid #ccc; }
  .single_post .prev_next_post ul li a { background: #fff;    /* border: none; */ border-radius: 20px; color: #000; background-color: transparent; box-shadow: none; height: 35px; line-height: 22px; position: relative; border-color: #42abfb; color: #42abfb; text-align: center; text-transform: uppercase; font-family: 'robotoregular'; letter-spacing: 1px; padding: 6px 18px; }
  .single_post .prev_next_post ul li a:hover, .prev_next_post ul li a:focus { background-color: #42abfb; color: #fff; border-color: #42abfb; text-shadow: none; }
  .single_post .prev_next_post ul li:nth-child(1) a i { position: absolute; left: 7px; top: 6px; }
  .single_post .prev_next_post ul li:nth-child(2) a i { position: absolute; right: 6px; top: 6px; }
  .single_post .prev_next_post ul { display: table; width: 100%; margin: 0px; }
  .single_post .prev_next_post ul li { padding: 0px; }
  .single_post .might_like h4 { font-family: 'robotobold'; color: #bbbbbb; letter-spacing: 1px; text-transform: uppercase; padding: 0px 0px 10px; margin-top: 0px; }
  .single_post .might_like ul { margin: 0px; width: 100%; display: table; }
  .single_post .might_like ul li { width: 33.33%; height: 140px; padding: 0px 10px 5px; }
  .single_post .might_like ul li div:hover { box-shadow: 1px 8px 20px grey; -webkit-transition: box-shadow .2s ease-in; }
  .single_post .might_like ul li div { background: #fff; padding: 10px 15px; height: 100%; box-shadow: 0px 0px 0px #ccc; -webkit-transition: box-shadow .2s ease-out; box-shadow: .8px .9px 3px #ccc; border: 1px solid rgba(204, 204, 204, 0.43); }
  .single_post .might_like ul li:nth-child(1n+0) { padding-left: 0px; }
  .single_post .might_like ul li:nth-child(3n+3) { padding-right: 0px; }
  .single_post .might_like ul li a h4 { color: #686868; overflow: hidden; display: -webkit-box; padding: 0px; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }
  .single_post .might_like ul li a h6 { color: #42abfb; letter-spacing: 1px; position: absolute; bottom: 0px; }
  .single_post .might_like.trending_posts ul li a h4 { color: #686868; overflow: hidden; display: -webkit-box; padding: 0px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
  .might_like { margin-bottom: 40px; }
  .footer { position: fixed; bottom: 0px; width: 100%; display: table; z-index: 9999; background: #fff; display: none; height: 40px; }
  .footer p { color: #000; padding: 0px; margin: 0px; }
  .footer ul li { position: relative; }
  .footer ul { display: table; width: 100%; margin: 0px; padding: 10px 15px; }
  .footer ul li { text-transform: capitalize; color: #686868; }
  .footer ul.social_share li span { position: relative; width: 35px; height: 35px; background-color: #fff; line-height: 32px; display: inline-block; border: 1px solid #42abfb; color: #42abfb; border-radius: 50%; font-size: 20px; }
  .footer ul.like_view li i { font-size: 30px; color: #42abfb; }
  .footer ul.like_view li { font-size: 20px; line-height: 30px; top: 4px; }
  .footer ul.like_view li span { position: relative; width: 35px; height: 35px; line-height: 15px; display: inline-block; color: #42abfb; font-size: 20px; float: left; display: table-cell; vertical-align: middle; }
  .single_post .might_like.trending_posts { padding-right: 0px; }
  .single_post .might_like.trending_posts .trending_posts_section { padding-top: 13%; margin-bottom: 25px; }
  .single_post .might_like.trending_posts:after { position: absolute; content: ''; width: 1px; top: 40px; left: 0px; bottom: 0px; background: #ccc; }
  .single_post .might_like.trending_posts ul li { width: 100%; padding: 0px 10px 5px; height: 270px; }
  .single_post .might_like.trending_posts ul li img { height: 150px; width: 100%; margin-bottom: 10px; }
  .search_filter .ui.multiple.dropdown>.text { padding: 0px 0px 0px 12%; }

  /*End Individual Post*/

  /*BEGIN Directory*/
  .right_section.directory { background-image: url('../img/bg4.png'); }
  .directory .directory_single { padding: 20px; background: rgba(71, 122, 194, 1); background: -moz-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71, 122, 194, 1)), color-stop(100%, rgba(71, 122, 194, 0.5))); background: -webkit-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: -o-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: -ms-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: linear-gradient(to bottom, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#477ac2', endColorstr='#477ac2', GradientType=0); }
  .directory ul { margin: 0px; }
  .directory ul li { width: 50%; padding-bottom: 10px; float: left; }
  .directory_single h4 { color: #fff; }
  .directory_single p { color: #fff; margin: 10px 0px; padding: 0px; }
  .directory ul li:nth-child(odd) { padding-left: 0px; }
  .directory ul li:nth-child(even) { padding-right: 0px; }
  .directory ul.list_details li { float: none; width: 100%; padding: 0px; line-height: 20px; padding-top: 5px; font-size: 16px; color: #fff; }
  .directory .directory_list:after { position: absolute; content: ''; width: auto; height: 1px; left: -20px; right: -20px; top: 0px; background-color: rgba(85, 138, 227, 0.95); }
  .directory ul.list_details { padding-left: 20px; }
  .directory ul.list_details li i { padding-right: 10px; font-size: 18px; }
  .directory .directory_list { display: table; padding: 20px 0px 0px; }
  .directory .directory_list .directory_img { display: table-cell; float: none; vertical-align: bottom; }
  .directory .directory_list .directory_img img { width: 100%; }
  .bookmark { top: 10px; position: absolute; right: 0px; height: 20px; width: 26px; background-image: url('../img/bookmark.png'); }

  /*End Directory*/

  /*BEGIN JOBS*/
  .right_section.jobs_whole, .right_section.whatsonwhole { background-image: url('../img/bg4.png'); }
  .filter_jobs { margin-bottom: 15px; }
  .filter_jobs .bootstrap-select>.dropdown-toggle:focus { outline: none !important; }
  .filter_jobs  .bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover { color: #fff !important; outline: none !important; }
  .filter_jobs .btn-group { width: 100% !important }
  .filter_jobs .btn-group.open .dropdown-toggle { padding: 6px 12px; font-family: 'Roboto', sans-serif; background: transparent; color: #fff; width: 100%; border-radius: 20px; background-image: url(../img/up_arrow_white.png); background-repeat: no-repeat; background-size: 10px; background-position: 98% 13px; }
  .filter_jobs .bootstrap-select>.dropdown-toggle { margin: 10px 0px 10px; padding: 6px 12px; border: 1px solid #fff; text-shadow: none; background: transparent; color: #fff; width: 100%; border-radius: 20px; background-image: url(../img/down_arrow_white.png); background-repeat: no-repeat; background-size: 10px; background-position: 98% 13px; }
  .filter_jobs .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.check-mark { top: 7px; left: 15px; right: inherit; width: 25px; height: 25px; line-height: 20px; color: #0990FF; border-radius: 50%; border: 1px solid #ccc; margin: 0px; text-align: center; }
  .filter_jobs .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark { border-color: #fff; color: #fff; }
  .filter_jobs .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a  .text { color: #fff; }
  .filter_jobs .bs-caret { display: none; }
  .filter_jobs .dropdown-menu>li.selected>a { background-color: #0990FF !important; }
  .filter_jobs .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark { border-color: #fff; }
  .filter_jobs .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .glyphicon-ok:before { color: #fff; }
  .filter_jobs .dropdown-menu>li>a { padding: 10px 50px; border-bottom: 1px solid #ccc; margin: 0px 0px; }
  .filter_jobs .dropdown-menu>li>a:hover, .filter_jobs .dropdown-menu>li>a:focus { background-color: #fff; background-image: none; }
  .filter_jobs .bootstrap-select.btn-group .dropdown-menu { background: #fff; padding: 5px; }
  .filter_jobs .glyphicon-ok:before { content: '\f383'; font-family: 'ionicons'; color: #ccc; }
  .filter_jobs .bootstrap-select.btn-group .dropdown-menu li a span.text { color: #8C8C8C; }
  .filter_jobs .btn-group.open .dropdown-toggle:focus { outline: none !important; }
  .filter_jobs .bootstrap-select.btn-group .dropdown-menu li a span.check-mark { top: 7px; left: 15px; position: absolute; display: block; border: 1px solid #ccc; }
  .jobs .jobs_box_full { margin-bottom: 10px; }
  .jobs .jobs_box_full h6 { color: #fff; margin-top: 0px; text-transform: uppercase; }
  .jobs .jobs_box_full ul { display: table; width: 100%; margin: 0px; padding: 0px; }
  .jobs .jobs_box_full h3, .jobs .jobs_box_full h5 { color: #E1FF69; margin-top: 0px; }
  .jobs .jobs_box_full p { padding: 0px; margin-top: 0px; }
  .jobs .jobs_box_full p a { padding: 0px; color: #E1FF69; }
  .jobs .jobs_box_full .jobs_box_width_2 { background: rgba(71, 122, 194, 1); background: -moz-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71, 122, 194, 1)), color-stop(100%, rgba(71, 122, 194, 0.5))); background: -webkit-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: -o-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: -ms-linear-gradient(top, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); background: linear-gradient(to bottom, rgba(71, 122, 194, 1) 0%, rgba(71, 122, 194, 0.5) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#477ac2', endColorstr='#477ac2', GradientType=0); }
  .jobs .jobs_box_full .jobs_box_width_8_bg { background: url(../img/box_bg.png); background-repeat: no-repeat; background-size: cover; padding-right: 0px; }
  .jobs .jobs_box_full .jobs_box_width_8_bg.jobs_box_width_8_bg_ads { background: url(../img/box_bg_color.png); background-repeat: no-repeat; background-size: cover; padding-right: 0px; }
  .jobs .jobs_box_full .jobs_box_width_2 { padding: 0px; }
  .jobs .jobs_box_full .jobs_box_width_8 { padding-right: 0px; padding-left: 10px; }
  .jobs .jobs_box_full .jobs_box_width_2.box_bg_square { background: url(../img/box_bg_square_color.png); background-repeat: no-repeat; background-size: cover; padding-right: 0px; }
  .jobs .jobs_box_full .jobs_box_width_2_bg, .jobs .jobs_box_full .jobs_box_width_8_bg { padding: 20px; height: 270px; }
  .jobs .jobs_box_full .jobs_box_width_2 ul { position: absolute; bottom: 5px; width: 100%; padding: 10px 20px; }
  .jobs .jobs_box_full .jobs_box_width_2 ul:after { position: absolute; content: ''; width: 100%; left: 0px; height: 2px; background: rgba(85, 138, 227, 0.95); top: 0px; right: 0px; }
  .jobs .jobs_box_full .jobs_box_width_2 ul li { padding: 0px; }
  .jobs .jobs_box_full .jobs_box_width_2 ul li:nth-child(1) { color: #E1FF69; }
  .jobs .jobs_box_full .jobs_box_width_2 ul li:nth-child(2) { text-align: right; color: #fff; text-transform: uppercase; }
  .jobs .jobs_box_full .jobs_box_width_8 .jobs_box_width_8_left, .jobs .jobs_box_full .jobs_box_width_8 .jobs_box_width_8_right { height: 100%; }
  .jobs .jobs_box_full .jobs_box_width_8 .jobs_box_width_8_right:before { position: absolute; content: ''; width: 1.5px; top: -20px; background-color: rgba(79, 128, 255, 0.33); bottom: -20px; left: 0px; }
  .jobs .jobs_box_full .jobs_box_width_8 .jobs_box_width_8_right ul li { width: 100%; }
  .jobs .jobs_box_full .jobs_box_width_8 .jobs_box_width_8_left a { position: absolute; bottom: 0px; }
  .btn-half-radius { margin: 10px 0px; border: 1px solid #fff; border-radius: 20px; color: #fff; }
  .btn-half-radius:hover, .btn-half-radius:focus { border: 1px solid #fff; border-radius: 20px; text-decoration: none; background-color: #fff; color: #000; }
  .jobs .jobs_box_full_2 .jobs_box_width_8 { padding-right: 10px; padding-left: 0px; }
  .jobs .jobs_box_full ul li { float: left; }
  .jobs .jobs_box_full ul li:nth-child(1) { width: 35%; padding-right: 0px; }
  .jobs .jobs_box_full ul li:nth-child(2) { width: 65%; padding-left: 0px; }
  .jobs .jobs_box_full_2 ul li:nth-child(1) { width: 65%; padding-left: 0px; }
  .jobs .jobs_box_full_2 ul li:nth-child(2) { width: 35%; padding-right: 0px; }
  .jobs  .jobs_box_full.jobs_box_full_3 ul li { width: 33.3%; float: left; padding-right: 10px; padding-left: 0px; }
  .jobs  .jobs_box_full.jobs_box_full_3 ul li:nth-child(3) { padding-right: 0px; }

  /*END JOBS*/

  /*WHATS ON*/
  .whatson_whole { display: table; }
  .whatson_whole_content { float: none; display: table-cell; vertical-align: middle; }
  .whatson ul li { display: table; width: 100%; background: rgba(255, 255, 255, 0.25); padding: 15px;margin-bottom: 15px; }
   .whatson_whole_content .profile_left{background-repeat: no-repeat;background-size: contain;    height: 140px;}
   .whatson .profile_left figure{position: relative;height: 100%;}
   .whatson .profile_left figure figcaption{position: absolute;
    bottom: -25px;
    text-align: center;
    left: 0px;
    right: 0px;}
  .whatson .profile_right  h3 { color: #E1FF69; margin: 0px 0px 7px 0px; }
  .whatson .profile_right  h5 { color: #fff; letter-spacing: 1px; margin: 0px 0px 7px 0px; }
  .whatson .profile_right p { padding: 0px 30px 0px 0px; margin: 0px 0px 7px 0px; }
  .whatson .profile_left figure figcaption p { text-align: center; color: #E1FF69;padding: 0px; margin: 0px;}
  .whatson .profile_event_details ul { padding: 0px 30px; }
  .whatson .profile_event_details ul li { background: inherit; padding: 0px; text-align: left;margin-bottom: 0px;
 }
  .whatson .profile_event_details ul li h5 { color: #E1FF69; }
  .whatson .profile_event_details ul li h5 i { padding-right: 10px; font-size: 20px; }
  .whatson .profile_event_details ul li p i { padding: 0px 10px 0px 2px; font-size: 26px; }
  .whatson .profile_event_details ul li p { padding: 0px; font-size: 16px; }
  .whatson .profile_event_details:after { position: absolute; content: ''; width: 1px; top: -15px; bottom: -15px; background-color: #88adeb; left: 7px; }
  .whatson .profile_event_details  .profile_event_date:after { position: absolute; content: ''; left: 7px; right: -15px; height: 1px; background-color: #88adeb; }

  /*END WHATS ON*/

  /*Begin Media Queries*/
  @media (max-width:1024px) {
    .search_filter .ui.multiple.dropdown>.text { padding: 0px 0px 0px 25%; }
    .single_post .might_like ul li { width: 50%; }
    .single_post .single_post_img { height: 250px; }
    .single_post .might_like.trending_posts ul li a h4 { display: -webkit-box; padding: 0px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
    .single_post .single_post_text p { margin: 20px 0px 0px 0px; }
    .single_post .post_view { padding: 20px 10% 20px 10%; }
    .single_post .might_like.trending_posts .trending_posts_section { padding: 13% 0px 0px 0px; }
    .single_post .might_like ul li:nth-child(3n+3) { padding-right: 10px; }
  }
  @media (max-width:1023px) {
    .jobs .jobs_box_full .jobs_box_width_8 { padding: 0px; }
    .jobs .jobs_box_full { margin-bottom: 0px; }
    .jobs .jobs_box_full ul li { margin-bottom: 10px; }
    .jobs .jobs_box_full .jobs_box_width_2 ul.date_place li { width: auto; }
    .jobs .jobs_box_full ul li:nth-child(1) { width: 100%; }
    .jobs .jobs_box_full ul li:nth-child(2) { width: 100%; }
    .jobs .jobs_box_full_2 ul li:nth-child(1) { width: 100%; }
    .jobs .jobs_box_full_2 ul li:nth-child(2) { width: 100%; }
    .jobs  .jobs_box_full.jobs_box_full_3 ul li { width: 100%; padding: 0px; }
  }
    @media (max-width:992px) {
      .whatson_whole_content .profile_left{background-position: center;margin-bottom: 30px;}
      .whatson_whole_content .profile_right{text-align: center;}
      .whatson_whole_content .profile_right .btn-half-radius{display: table;
    margin: 15px auto;
    width: 100%;
}
.whatson .profile_event_details ul li{text-align: center;}
      .whatson_whole_content{float: left;}
     .whatson .profile_event_details:after {
position: absolute;
    content: '';
    width: initial;
    left: -15px;
    top: inherit;
    bottom: inherit;
    right: -15px;
    height: 1px;
    background-color: #88adeb;
}
      .whatson .profile_event_details  .profile_event_date:after{left: -15px;}
    }
  @media (max-width:960px) {
    .jobs .jobs_box_full .jobs_box_width_2 ul { position: absolute; bottom: 0px; width: 100%; padding: 10px 20px 0px; }
    .jobs .jobs_box_full .jobs_box_width_8 .jobs_box_width_8_left a { position: relative; }
    .directory .directory_list .directory_img { float: left; }
    .jobs .jobs_box_full .jobs_box_width_2_bg { height: auto; margin-bottom: 25px; }
    .jobs .jobs_box_full .jobs_box_width_8_bg { height: auto; }
    .directory .directory_list .directory_img img { width: 50%; margin: 0 auto; }
  }
  @media (max-width:800px) {
    .right_section .search_filter { margin-top: 0px; }
    .right_section p span { bottom: -15px; }
    .single_post .post_view h1 { font-size: 26px; }
    .single_post .might_like.trending_posts ul li { padding: 0px; }
    .mob_header .search { width: 323px; height: 80px; z-index: 99; border: none; max-width: 0; padding: 15px; transition: all .5s ease; position: absolute; box-sizing: border-box; opacity: 0; border-bottom: 1px solid #fff; font-size: 24px; left: 0px; top: 0px; }
  }
  @media (max-width:767px) {

    .jobs, .filter_jobs,.whatson{ padding: 0px 15px; }
    .jobs .jobs_box_full h3, .jobs .jobs_box_full h5 { margin-bottom: 0px; }
    .jobs .jobs_box_full .jobs_box_width_8 .jobs_box_width_8_right ul li { width: auto; float: none; display: table-cell; text-align: right; vertical-align: middle; }
    .jobs .jobs_box_full .jobs_box_width_8 .jobs_box_width_8_right:before { display: none; }
    .directory ul { padding: 0px 15px; }
    .whatson .profile_right p{padding: 0px;}
    .single_post .back_root { padding: 0px 0px 0px 0%; }
    .single_post .might_like.trending_posts:after { display: none; }
    .single_post .single_post_text p { text-align: justify; word-break: normal; word-wrap: normal; word-spacing: -5px; }
    .right_section_inner { padding: 0px; }
    .left_bar { z-index: 9; display: none; width: 50%; overflow: auto; }
    .right_section { padding: 0px; }
    .mob_header { background-color: #1a2a3a; height: 80px; }
    .mob_header a { padding: 20px 10px; }
    .mob_header ul { margin-left: 0px; margin-bottom: 0px; height: 80px; display: table; }
    .mob_header ul li { padding: 0px; display: table-cell; width: 60px; height: 100%; text-align: center; vertical-align: middle; }
    .mob_header ul li:after { position: absolute; content: ''; width: 1px; top: -5px; left: 0px; bottom: 0px; background-color: #3f4c5a; }
    .mob_header i { color: #fff; font-size: 22px; }
    .left_bar a.logo_text img { width: 60px; }
    .right_section .search_filter input { background-position: 17px 17px; padding-left: 25px; }
    .footer { width: 100%; }
    .single_post .might_like ul li { width: 100%; }
    .might_like { margin-bottom: 0%; }
    .single_post .post_view { padding: 20px 3% 20px 3%; }
    .single_post .might_like ul li:nth-child(1n+0) { padding-left: 0px; padding-right: 0px; }
    .single_post .slick-prev { right: 5px; top: 40%; z-index: 99; }
    .single_post .slick-next { left: 0px; top: 40%; z-index: 99; }
    .single_post .slick-slide img { height: 500px; }
    .single_post .might_like.trending_posts .trending_posts_section { width: 100%; padding: 0px; float: none; margin: 0 auto 40%; }
  }
  @media (max-width:604px) {
    .directory ul li { width: 100%; }
    .single_post .might_like.trending_posts:after { display: none; }
    .single_post .might_like ul li { width: 100%; }
    .single_post .might_like.trending_posts .trending_posts_section { padding: 13% 0px 0px 0px; width: 100%; padding: 0px; float: none; }
    .single_post .might_like.trending_posts ul { width: 95%; }
    .single_post .slick-slide img { height: 300px; }
  }
  @media (max-width:480px) {
    .jobs .jobs_box_full .jobs_box_width_8 .jobs_box_width_8_right ul li { display: table; text-align: left; }
    .grid-item { width: 100%; }
    .left_bar { width: 70%; }
    .cs-select ul { max-height: 300px; }
  }
  @media (max-width:420px) {
    .single_post .prev_next_post ul li a { font-size: 10px; }
    .single_post .slick-slide img { height: 300px; }
  }
  /*End Media Queries